/* P11_KASA/src/pages/Accueil.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');




.home-body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}


.hero-banner {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 60px 20px;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Dark overlay using pseudo-element */
.hero-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* <- 60% dark overlay */
    border-radius: 15px;
    z-index: 1;
}

.hero-title {
    z-index: 2;
    font-size: 2.4rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.gallery {
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Overlay gradient only at the bottom */
.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
}



.card:hover {
    transform: scale(1.02);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-title {
    height: 15%;
    text-align: left;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    max-width: 80%;
    z-index: 2;
}